In [1]:
import pandas as pd

In [7]:
#reading .txt file
text = pd.read_csv("sample.txt",header=None)

In [8]:
text

           0
0   low saim
1        low
2        low
3   low adil
4        low
5      lower
6      lower
7     newest
8     newest
9     newest
10    newest
11    newest
12    newest
13    widest
14    widest
15    widest

In [9]:
#converting a dataframe into a single list 
corpus=[]
for row in text.values:
    tokens = row[0].split(" ")
    print(tokens)
    for token in tokens:
        corpus.append(token)
        print(corpus)

# vocab = list(set(" ".join(corpus)))
# vocab.remove(' ')

['low', 'saim']
['low']
['low', 'saim']
['low']
['low', 'saim', 'low']
['low']
['low', 'saim', 'low', 'low']
['low', 'adil']
['low', 'saim', 'low', 'low', 'low']
['low', 'saim', 'low', 'low', 'low', 'adil']
['low']
['low', 'saim', 'low', 'low', 'low', 'adil', 'low']
['lower']
['low', 'saim', 'low', 'low', 'low', 'adil', 'low', 'lower']
['lower']
['low', 'saim', 'low', 'low', 'low', 'adil', 'low', 'lower', 'lower']
['newest']
['low', 'saim', 'low', 'low', 'low', 'adil', 'low', 'lower', 'lower', 'newest']
['newest']
['low', 'saim', 'low', 'low', 'low', 'adil', 'low', 'lower', 'lower', 'newest', 'newest']
['newest']
['low', 'saim', 'low', 'low', 'low', 'adil', 'low', 'lower', 'lower', 'newest', 'newest', 'newest']
['newest']
['low', 'saim', 'low', 'low', 'low', 'adil', 'low', 'lower', 'lower', 'newest', 'newest', 'newest', 'newest']
['newest']
['low', 'saim', 'low', 'low', 'low', 'adil', 'low', 'lower', 'lower', 'newest', 'newest', 'newest', 'newest', 'newest']
['newest']
['low', 'saim', 'low', 'low', 'low', 'adil', 'low', 'lower', 'lower', 'newest', 'newest', 'newest', 'newest', 'newest', 'newest']
['widest']
['low', 'saim', 'low', 'low', 'low', 'adil', 'low', 'lower', 'lower', 'newest', 'newest', 'newest', 'newest', 'newest', 'newest', 'widest']
['widest']
['low', 'saim', 'low', 'low', 'low', 'adil', 'low', 'lower', 'lower', 'newest', 'newest', 'newest', 'newest', 'newest', 'newest', 'widest', 'widest']
['widest']
['low', 'saim', 'low', 'low', 'low', 'adil', 'low', 'lower', 'lower', 'newest', 'newest', 'newest', 'newest', 'newest', 'newest', 'widest', 'widest', 'widest']

In [10]:
vocab = list(set(" ".join(corpus)))
vocab

['o', 'l', 'm', 'n', ' ', 's', 'd', 'w', 'a', 'e', 't', 'i', 'r']

In [12]:
vocab.remove(' ')

In [13]:
vocab

['o', 'l', 'm', 'n', 's', 'd', 'w', 'a', 'e', 't', 'i', 'r']

In [14]:
#split the word into characters
corpus = [" ".join(token) for token in corpus]

In [15]:
corpus

['l   o   w',
 's   a   i   m',
 'l   o   w',
 'l   o   w',
 'l   o   w',
 'a   d   i   l',
 'l   o   w',
 'l   o   w   e   r',
 'l   o   w   e   r',
 'n   e   w   e   s   t',
 'n   e   w   e   s   t',
 'n   e   w   e   s   t',
 'n   e   w   e   s   t',
 'n   e   w   e   s   t',
 'n   e   w   e   s   t',
 'w   i   d   e   s   t',
 'w   i   d   e   s   t',
 'w   i   d   e   s   t']

In [18]:
token

'widest'

In [16]:
#appending </w>
corpus=[token+' </w>' for token in corpus]
print(corpus)

['l   o   w </w>', 's   a   i   m </w>', 'l   o   w </w>', 'l   o   w </w>', 'l   o   w </w>', 'a   d   i   l </w>', 'l   o   w </w>', 'l   o   w   e   r </w>', 'l   o   w   e   r </w>', 'n   e   w   e   s   t </w>', 'n   e   w   e   s   t </w>', 'n   e   w   e   s   t </w>', 'n   e   w   e   s   t </w>', 'n   e   w   e   s   t </w>', 'n   e   w   e   s   t </w>', 'w   i   d   e   s   t </w>', 'w   i   d   e   s   t </w>', 'w   i   d   e   s   t </w>']

In [20]:
Str1 = "Back"
Str2 = "Book"
Result = Str1 == Str2
print(Result)

False

In [21]:
pip install Levenshtein

Collecting LevenshteinNote: you may need to restart the kernel to use updated packages.

  Downloading Levenshtein-0.21.1-cp310-cp310-win_amd64.whl (100 kB)
     -------------------------------------- 101.0/101.0 kB 1.4 MB/s eta 0:00:00
Collecting rapidfuzz<4.0.0,>=2.3.0
  Downloading rapidfuzz-3.1.1-cp310-cp310-win_amd64.whl (1.8 MB)
     ---------------------------------------- 1.8/1.8 MB 2.9 MB/s eta 0:00:00
Installing collected packages: rapidfuzz, Levenshtein
Successfully installed Levenshtein-0.21.1 rapidfuzz-3.1.1

In [22]:
import Levenshtein as lev
Str1 = "Back"
Str2 = "Book"
lev.distance(Str1.lower(),Str2.lower())

2

In [23]:
pip install fuzzywuzzy

Collecting fuzzywuzzyNote: you may need to restart the kernel to use updated packages.

  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [24]:
from fuzzywuzzy import fuzz
Str1 = "Back"
Str2 = "Book"
Ratio = fuzz.ratio(Str1.lower(),Str2.lower())
print(Ratio)

50

In [25]:
Str1 = "My name is Ali"
Str2 = "Ali is my name"
Ratio = fuzz.ratio(Str1.lower(),Str2.lower())
print(Ratio)

50

In [26]:
Str1 = "My name is Ali"
Str2 = "My name is Ali Abdaal"
print(fuzz.partial_ratio(Str1.lower(),Str2.lower()))

100

In [27]:
Str1 = "My name is Ali"
Str2 = "Ali is my name"
print(fuzz.token_sort_ratio(Str1,Str2))

100