### Data

In [2]:
import pandas as pd

In [16]:
df = pd.read_excel('Data Science Twitter list.xlsx',sheet_name="Population", usecols=lambda x: x != 'Sample')
df.head()

                   Name Twitter Account  Title    Body Party State
0        Scott Wilk (R)    @ScottWilkCA    NaN  Senate   (R)    CA
1   Scott D. Wiener (D)   @Scott_Wiener    NaN  Senate   (D)    CA
2       Aisha Wahab (D)   @aishabbwahab    NaN  Senate   (D)    CA
3  Thomas J. Umberg (D)  @SenatorUmberg    NaN  Senate   (D)    CA
4    Henry I. Stern (D)   @HenrySternCA    NaN  Senate   (D)    CA

In [17]:
pivot_table = pd.pivot_table(df, values='Name', index='Party', columns='State', aggfunc='count', fill_value=0)
pivot_table

State  CA   FL
Party
(D)    94   47
(R)    26  112

### Filter by state & party

In [7]:
# Florida
filtered_df_FL_De = df.loc[(df['State'] == 'FL') & (df['Party'] == '(D)')] #Democrats
filtered_df_FL_Re = df.loc[(df['State'] == 'FL') & (df['Party'] == '(R)')] #Republicans

#California
filtered_df_CA_De = df.loc[(df['State'] == 'CA') & (df['Party'] == '(D)')] #Democrats
filtered_df_CA_Re = df.loc[(df['State'] == 'CA') & (df['Party'] == '(R)')] #Republicans

### Sampling selection: Arbitrary selection of 20% (159*20%=32)

In [8]:
# 159*20% = 32 lines
#Florida
sampled_filtered_df_FL_De = filtered_df_FL_De.groupby('Party').apply(lambda x: x.sample(n=min(16, x.shape[0]), random_state=1))
sampled_filtered_df_FL_Re = filtered_df_FL_Re.groupby('Party').apply(lambda x: x.sample(n=min(16, x.shape[0]), random_state=1))

# 120*20% = 24 lines
#California
sampled_filtered_df_CA_De = filtered_df_CA_De.groupby('Party').apply(lambda x: x.sample(n=min(12, x.shape[0]), random_state=1))
sampled_filtered_df_CA_Re = filtered_df_CA_Re.groupby('Party').apply(lambda x: x.sample(n=min(12, x.shape[0]), random_state=1))

In [9]:
FL = pd.concat([sampled_filtered_df_FL_De, sampled_filtered_df_FL_Re], axis=0)
CA = pd.concat([sampled_filtered_df_CA_De, sampled_filtered_df_CA_Re], axis=0)

### Sample

In [26]:
df = pd.read_excel('Data Science Twitter list.xlsx',sheet_name="Population")
pivot_table = pd.pivot_table(df, values='Sample', index='Party', columns='State', aggfunc='count', fill_value=0)
pivot_table

State  CA  FL
Party
(D)    12  16
(R)    12  16

### Data Collection : Twitter

In [27]:
import tweepy

In [28]:
consumer_key = "uN2XFHGqnKNHmRWFJZx" #api key 
consumer_secret = "ejPqiggjjrJJJYj5IfshmDgXmz7b5rpeZg9LZej8PwIKW" #API Key Secret

access_token = "1651565590451036161-8oDlgWdhf4oFzFtRcAlE7Ox4N"
access_token_secret = "gBa5MgDlKi4Q7Sob6pKuJqALpfWISex60zjJb5JH"

In [29]:
# Creating the authentication object
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
# Setting your access token and secret
auth.set_access_token(access_token, access_token_secret)
# Creating the API object while passing in auth information
api = tweepy.API(auth)

In [ ]:
from datetime import datetime, timedelta, date

# The Twitter user who we want to get tweets from
usernames = ["Scott_Wiener", "Portantino", "JoshNewmanCA", "SenatorMenjivar", "CASenCaballero", "Cblakespear", "AsmMikeFong", "AsmCarrillo",
             "AsmJuanCarrillo","asmtasha", "BenAllenCA", "SenToniAtkins", "ScottWilkCA", "JimPatterson559", "Patterdude", "devonjmathis", 
             "TomLackey36", "joshua_hoover", "billessayli", "AsmMeganDahle", "ShannonGroveCA", "SenJanetNguyen", "SenRogerNiello", "rosilicie"]
# Number of tweets to pull
tweetCount = 1500

# Fechas de inicio y fin del rango de búsqueda
start_date = datetime(2023, 4, 30).date()
end_date = datetime(2022, 4, 30).date()

# Calling the user_timeline function with our parameters
results = api.user_timeline(id=usernames, count=tweetCount)

# Create a list of dictionaries to store the tweets
tweets = []
for username in usernames:
    results = api.user_timeline(id=username, count=tweetCount)
    for tweet in results:
        tweet_date = tweet.created_at.date()
        if end_date <= tweet_date <= start_date:
            tweet_dict = {"text": tweet.text,
                          "created_at": tweet_date,
                          "user_name": tweet.user.name,
                          "favorite_count": tweet.favorite_count}
            tweets.append(tweet_dict)


# Convert the list of tweets to a Pandas DataFrame
df_Ca = pd.DataFrame(tweets, columns=["user_name", "text", "created_at", "favorite_count"])

In [37]:
df_Ca

,user_name,text,created_at,favorite_count
0,Marie Woodson,"RT @hcicollege: Thank you, Rep. Marie Woodson ...",2023-04-29,0
1,Marie Woodson,Another one of our bills passed on the House F...,2023-04-27,3
2,Marie Woodson,RT @Fla_Pol: House approves bill by @MarieWood...,2023-04-27,0
3,Marie Woodson,"This morning, I presented HB101 to ensure that...",2023-03-10,1
4,Marie Woodson,Very informative Broward Delegation meeting to...,2023-01-14,4
...,...,...,...,...
4797,Dana Trabulsy,@electjimmooney Your district and the entire s...,2022-06-10,4
4798,Dana Trabulsy,"@victoriaaprice4 @KLangan3 Congratulations, lo...",2022-05-27,2
4799,Dana Trabulsy,@FLGOPMajority @Daniel_PerezFL Thank you @Dani...,2022-05-25,3
4800,Dana Trabulsy,@ChristinaPushaw @NikkiFriedFL @GovRonDeSantis...,2022-05-20,0
4801,Dana Trabulsy,@VoteRandyFine I’m sorry you receive such hate...,2022-05-20,0

## Pre-Processing

### Cleaning

In [41]:
import string
import re

In [42]:
#create a function to clean tweets
def cleanTxt(text):
    text = text.replace('\u2026','')
    text = re.sub(r'@[A-Za-z0-9_:]+', '', text) #remove @mentions
    text = re.sub(r'RT[\s]+', '', text) # remove ReTweets
    text = re.sub(r'https?:\/\/\S+', '', text) # remove hyperlinks 
    text = re.sub(r'(\n)', '', text)
    text = text.lower()
    
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', '', text)

    return text

In [43]:
df_Ca['text_clean'] = df_Ca['text'].apply(cleanTxt)

In [44]:
df_Ca.head()

,user_name,text,created_at,favorite_count,text_clean
0,Marie Woodson,"RT @hcicollege: Thank you, Rep. Marie Woodson ...",2023-04-29,0,thank you rep marie woodson and the florida le...
1,Marie Woodson,Another one of our bills passed on the House F...,2023-04-27,3,another one of our bills passed on the house f...
2,Marie Woodson,RT @Fla_Pol: House approves bill by @MarieWood...,2023-04-27,0,house approves bill by granting property tax ...
3,Marie Woodson,"This morning, I presented HB101 to ensure that...",2023-03-10,1,this morning i presented hb to ensure that all...
4,Marie Woodson,Very informative Broward Delegation meeting to...,2023-01-14,4,very informative broward delegation meeting to...

### Tokenization

In [47]:
import nltk

In [48]:
from nltk.tokenize import word_tokenize

In [49]:
df_Ca['tokenized_text'] = df_Ca['text_clean'].apply(nltk.word_tokenize)

In [50]:
df_Ca.head()

,user_name,text,created_at,favorite_count,text_clean,tokenized_text
0,Marie Woodson,"RT @hcicollege: Thank you, Rep. Marie Woodson ...",2023-04-29,0,thank you rep marie woodson and the florida le...,"[thank, you, rep, marie, woodson, and, the, fl..."
1,Marie Woodson,Another one of our bills passed on the House F...,2023-04-27,3,another one of our bills passed on the house f...,"[another, one, of, our, bills, passed, on, the..."
2,Marie Woodson,RT @Fla_Pol: House approves bill by @MarieWood...,2023-04-27,0,house approves bill by granting property tax ...,"[house, approves, bill, by, granting, property..."
3,Marie Woodson,"This morning, I presented HB101 to ensure that...",2023-03-10,1,this morning i presented hb to ensure that all...,"[this, morning, i, presented, hb, to, ensure, ..."
4,Marie Woodson,Very informative Broward Delegation meeting to...,2023-01-14,4,very informative broward delegation meeting to...,"[very, informative, broward, delegation, meeti..."

### Stopwords

In [51]:
from nltk.corpus import stopwords

In [52]:
stop_words = stopwords.words('english')

In [53]:
df_Ca['stopwords_text'] = df_Ca['tokenized_text'].apply(lambda x: [item for item in x if item not in stop_words])

In [54]:
df_Ca.head()

,user_name,text,created_at,favorite_count,text_clean,tokenized_text,stopwords_text
0,Marie Woodson,"RT @hcicollege: Thank you, Rep. Marie Woodson ...",2023-04-29,0,thank you rep marie woodson and the florida le...,"[thank, you, rep, marie, woodson, and, the, fl...","[thank, rep, marie, woodson, florida, legislat..."
1,Marie Woodson,Another one of our bills passed on the House F...,2023-04-27,3,another one of our bills passed on the house f...,"[another, one, of, our, bills, passed, on, the...","[another, one, bills, passed, house, floor, un..."
2,Marie Woodson,RT @Fla_Pol: House approves bill by @MarieWood...,2023-04-27,0,house approves bill by granting property tax ...,"[house, approves, bill, by, granting, property...","[house, approves, bill, granting, property, ta..."
3,Marie Woodson,"This morning, I presented HB101 to ensure that...",2023-03-10,1,this morning i presented hb to ensure that all...,"[this, morning, i, presented, hb, to, ensure, ...","[morning, presented, hb, ensure, first, respon..."
4,Marie Woodson,Very informative Broward Delegation meeting to...,2023-01-14,4,very informative broward delegation meeting to...,"[very, informative, broward, delegation, meeti...","[informative, broward, delegation, meeting, to..."

### Lemmatisation

In [57]:
from nltk.stem import WordNetLemmatizer

In [58]:
lemmatizer = WordNetLemmatizer()

In [60]:
df_Ca['lemma_text'] = df_Ca['stopwords_text'].apply(lambda x: [lemmatizer.lemmatize(word) for word in x])

In [62]:
df_Ca.tail()

,user_name,text,created_at,favorite_count,text_clean,tokenized_text,stopwords_text,lemma_text
4797,Dana Trabulsy,@electjimmooney Your district and the entire s...,2022-06-10,4,your district and the entire state of florida...,"[your, district, and, the, entire, state, of, ...","[district, entire, state, florida, better]","[district, entire, state, florida, better]"
4798,Dana Trabulsy,"@victoriaaprice4 @KLangan3 Congratulations, lo...",2022-05-27,2,congratulations love birds,"[congratulations, love, birds]","[congratulations, love, birds]","[congratulation, love, bird]"
4799,Dana Trabulsy,@FLGOPMajority @Daniel_PerezFL Thank you @Dani...,2022-05-25,3,thank you the floridians impacted by your ...,"[thank, you, the, floridians, impacted, by, yo...","[thank, floridians, impacted, good, legislatio...","[thank, floridian, impacted, good, legislation..."
4800,Dana Trabulsy,@ChristinaPushaw @NikkiFriedFL @GovRonDeSantis...,2022-05-20,0,amen,[amen],[amen],[amen]
4801,Dana Trabulsy,@VoteRandyFine I’m sorry you receive such hate...,2022-05-20,0,i’m sorry you receive such hateful messages,"[i, ’, m, sorry, you, receive, such, hateful, ...","[’, sorry, receive, hateful, messages]","[’, sorry, receive, hateful, message]"